.personal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15em;
    margin-top: 5em;
}

.personal .embed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personal .embed {
    border-radius: 2em; 
    overflow: hidden;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    transition: transform 1s;
    cursor: pointer;
}

.personal .embed:hover {
    opacity: 1;
    transform: scale(1.1);
    z-index: 20;
}

.personal .content {
    color: #000;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-align: left;
    padding: 0 7em
}