.elements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3em 4em 3em;
    flex-wrap: wrap;
}

.elements-container .element {
    color: #000;
    width: 25em;
    text-align: center;
    cursor: pointer;
    height: 16em;
    position: relative;
    margin: 2em;
}

.elements-container .card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
    display: block;
}

.elements-container .card:hover {
    transform: rotateY(180deg);
}

.elements-container .card>div {
    backface-visibility: hidden;
    border-radius: 2em;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 1em rgb(106, 47, 50, 0.8);
}

.elements-container .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.elements-container .back {
    color: black;
    text-align: center;
    transform: rotateY(180deg);
    background: rgb(247, 238, 238);
}

.elements-container .card h4 {
    margin: 0;
}

.elements-container .card ul {
    text-align: left;
    padding: 0 5em;
}

@media (max-width: 600px) {
    .elements-container {
        margin: 3em 0;
        display: block;
    }
    .elements-container .element {
        margin: 3em auto;
        width: 22em;
    }
}