.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.gallery-container img {
    position: relative;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 20em;
    border-radius: 1em;
    border: 1px solid black;
    opacity: 0.8;
    transition: transform 1s;
    object-fit: cover;
    display: block;
}

.gallery-container img:hover {
    opacity: 1;
    transform: scale(1.3);
    z-index: 20;
}

.gallery-container .item-width-2 {
    grid-column: span 2;
}