header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    color: #FFF;
    border-radius: 0.3em;
    min-height: 80vh;
    padding: 2em;
    position: relative;
}

header.site-index {
    background-image: url('https://source.unsplash.com/5BB_atDT4oA');
    background-position: center;
}

header.site-contacts {
    background-image: url('https://source.unsplash.com/gnm2op0m2pw');
    background-position: center;
}

header.site-about {
    background-image: url('https://source.unsplash.com/82p7JgzKOpo');
    background-position: center;
}

header.site-gallery {
    background-image: url('https://source.unsplash.com/IfjHaIoAoqE');
    background-position: center bottom;
}

header.site-services {
    background-image: url('https://source.unsplash.com/gWedi4SWsHQ');
    background-position: center;
}

header:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

header .site-title {
    padding: 1rem 1.4rem;
    position: relative;
    z-index: 5;
}

header .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    font-size: 1.5em;
}

header .slogan p, header .slogan h2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s;
}

header .slogan h2 {
    transform: translateX(-50vw);
    transition-delay: 1s;
}

header .slogan p {
    transform: translateX(-50vw);
    transition-delay: 2s;
}

.loaded header .slogan p, .loaded header .slogan h2 {
    transform: translateX(0);
    opacity: 1;
}

header a {
    color: #FFF;
    text-decoration: none;
}