body {
    text-align: center;
}

.site-wrapper {
    max-width: 80em;
    margin: 0 auto;
    background: rgb(255, 236, 229);
    text-align: left;
}

.site-content {
    padding: 5em;
}

.information {
    text-align: center;
}