.personal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 19em;
    margin-top: 3em;
}

.personal:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.personal .embed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.personal .embed {
    border-radius: 2em;
    overflow: hidden;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    transition: transform 1s;
    box-shadow: 0 0 1em rgb(106, 47, 50, 0.8);
}

.personal .embed:hover {
    opacity: 1;
    transform: scale(1.1);
    z-index: 20;
}

.personal .content {
    color: #000;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-align: left;
    padding: 0 7em;
}

@media (max-width: 1000px) {
    .personal .content {
        padding: 0 2em;
    }
}

@media (max-width: 800px) {
    .personal {
        display: block;
        height: auto;
    }
    .personal .embed {
        width: 75%;
        margin: 0 auto;
    }
    .personal .content {
        width: auto;
        text-align: left;
        padding: 0 0.1em;
    }
}