{% if include.location == 'header' %}
    <div class="site-nav-toggle-container">
        <label for="site-nav-toggle" class="site-nav-toggle-label">Menu</label>
    </div>
{% endif %}

<nav class="{% if include.location == 'header' %}site-nav{% endif %}{% if include.location == 'footer' %}site-footer-nav{% endif %}">
    <ul>
        {% assign navigation_pages = site.pages | sort:"order" %}

        {% for current_page in navigation_pages %}
            {% if current_page.title and current_page.title != 'Not Found' %}
                <li class="{% if current_page.url == page.url %}current-page{% endif %}">
                    <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>