footer {
  display: flex;
  justify-content: flex-end;
  background: $footer-background-color;
  color: $white-color;
  padding: 2em;

  .copyright {
    padding: 0.5em 1em;
    flex-grow: 2;

    a {
      color: darken($white-color, 30%);
    }
  }
}

.site-footer-nav {
  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    display: block;
    list-style: none;
  }

  a {
    display: block;
    padding: 0.5em 1em;
    color: $white-color;
    text-decoration: none;

    &:hover {
      color: darken($white-color, 30%);
    }
  }
}

@include mq(small) {
  .site-footer-nav {
    display: none;
  }
}
