.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  color: $white-color;
  border-radius: 0.3em;
  min-height: 80vh;
  padding: 2em;
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .site-title {
    padding: 1rem 1.4rem;
    position: relative;
    z-index: 5;
  }

  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    font-size: 1.5em;
  }

  .slogan p,
  .slogan h2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.6s, transform 0.5s ease-in-out 0.6s;
  }

  .slogan h2 {
    transform: translateX(-50vw);
    transition-delay: 1s;
  }

  .slogan p {
    transform: translateX(-50vw);
    transition-delay: 2s;
  }

  a {
    color: $white-color;
    text-decoration: none;
  }
}

.loaded .site-header .slogan p,
.loaded .site-header .slogan h2 {
  transform: translateX(0);
  opacity: 1;
}

.page-home .site-header {
  background-image: url("https://source.unsplash.com/5BB_atDT4oA");
  background-position: center;
}

.page-about .site-header {
  background-image: url("https://source.unsplash.com/82p7JgzKOpo");
  background-position: center;
}

.page-services .site-header {
  background-image: url("https://source.unsplash.com/gWedi4SWsHQ");
  background-position: center;
}

.page-gallery .site-header {
  background-image: url("https://source.unsplash.com/IfjHaIoAoqE");
  background-position: center bottom;
}

.page-contacts .site-header {
  background-image: url("https://source.unsplash.com/gnm2op0m2pw");
  background-position: center;
}

.page-not-found .site-header {
  background-image: url("https://source.unsplash.com/MljwsnGwdOY");
  background-position: center;
}

@include mq(large) {
  .site-header {
    display: block;
  }

  .site-header .slogan {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
