.site-wrapper {
    max-width: 80em;
    margin: 0 auto;
    background: $main-background-color;
    text-align: left;
}

.site-content {
    padding: 5em;
}

.information {
    text-align: center;
}

@include mq(medium) {
    .site-content {
        padding: 5em 2em;
    }
}