.site-wrapper {
    max-width: 80em;
    margin: 0 auto;
    background: rgb(247, 238, 238);
    text-align: left;
}

.site-content {
    padding: 5em;
}

.information {
    text-align: center;
}

@media (max-width: 800px) {
    .site-content {
        padding: 5em 2em;
    }
}