.personal {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 19em;
  margin-top: 3em;

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .embed {
    border-radius: 2em;
    overflow: hidden;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    transition: transform 1s;
    box-shadow: 0 0 1em $shadow-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      z-index: 20;
    }
  }

  .content {
    color: $black-color;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-align: left;
    padding: 0 7em;
  }
}

@include mq(large) {
  .personal .content {
    padding: 0 2em;
  }
}

@include mq(medium) {
  .personal {
    display: block;
    height: auto;
    .embed {
      width: 75%;
      margin: 0 auto;
    }
    .content {
      width: auto;
      text-align: left;
      padding: 0 0.1em;
    }
  }
}
