.services {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 19em;
  margin-top: 5em;

  .media {
    border-radius: 2em;
    overflow: hidden;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    transition: transform 1s;
    box-shadow: 0 0 1em $shadow-color;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      z-index: 20;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .content {
    color: #000;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;

    ul {
      text-align: left;
      padding: 0 5em;
    }
  }
}

@media (max-width: 1000px) {
  .services .content ul {
    padding: 0 4em;
  }
}

@media (max-width: 800px) {
  .services .content ul {
    padding: 0 3em;
  }
}

@media (max-width: 600px) {
  .services {
    display: block;
    height: auto;

    .media {
      margin: 0 auto;
      width: 75%;
    }

    .content {
      margin: 0 auto;
      width: 75%;
    }
  }
}
