<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/fontawesome-free-5.11.2-web/css/all.css">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    <title>
        {% if page.title != 'Home' %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
</head>

<body class="page-{{ page.title | slugify }}">
    <input type="checkbox" id="site-nav-toggle" class="site-nav-toggle">
    <div class="site-wrapper">
        <header>
            <h1 class="site-title"><i class="far fa-gem"></i> Wedding agency</h1>
            {% include navigation.html location="header" %}
            <section class="slogan">
                <h2>{{ page.slogan_title }}</h2>
                <p>{{ page.slogan_description }}</p>
            </section>
        </header>
        <main class="site-content">
            {{ content }}
        </main>
        <footer>
            <div class="copyright">
                <p>&copy; 2019 Developed and designed by <a href="mailto:krasimira.todorova.petrova@gmail.com">Krasimira
                        Petrova</a>.</p>
            </div>
            {% include navigation.html location="footer" %}
        </footer>
    </div>
</body>

</html>